// *{
//     margin: 0;
//   padding: 0;
//   box-sizing: border-box;
  

 
// }

body{
    height: 100vh;
    background-size: cover;

    .lightmode{
        background-image: url(../../assets/images/pattern-background-desktop-light.svg);
        background-color: #F4F6FA;
    }
    .darkmode{
        background-image: url(../../assets/images/pattern-background-desktop-dark.svg);
        background-color: #313E51;
    }
}

// .mode-toggle{
//     position: absolute;
//     right: 0;
//    margin-right: 7.6%;
//    display: flex;
//    gap: 12px;

// }

// .main-content{
//     margin: 7%;
//     margin-top: 120px;
//     display: flex;
// }

// .choose-cat{
//     padding: 2.5%;
// }

.switch{
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    margin: 0 5px ;
}

.cat-item{
    cursor: pointer;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a729f5;
    transition: .4s;
    border-radius: 34px;

}

.switch input{display: none;}

.slider:before{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left:2.5px;
    bottom: 2.5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider{
    background-color: #a729f5;
}

input:checked + .slider:before{
 transform: translate(25px);
}

.darkmode{
    .cat-item{
        background-color: #3B4D66;
        p{
            color: white;
        }
        border-color: #3B4D66;
    }
    .cat-item:hover{
        border-color: #a729f5;
    }
    .welcome-text{
        color: #F4F6FA;
        .pick{
            color: #ABC1E1;
        }
    }
    .quiz-category p{
        color: white;
    }
    .cat-item .option-sec{
        background-color: white;
        color: #313E51;
    }
    .main-line{
        background-color:#3B4D66;
    }
}


// @media  only screen and (max-width: 640px) {
//     body{
//         background-image: url(../../assets/images/pattern-background-mobile-light.svg);
//     }
    
// }