<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="mode-toggle">
            <img src="../../assets/images/icon-sun-dark.svg" alt="">
           <label class="switch">
             <input type="checkbox">
             <span class="slider"></span>
         </label>
            <img src="../../assets/images/icon-moon-dark.svg" alt="dark">
         </div>

         <div class="main-content gap-72">
            <div class="welcome-text text-[5rem] text-deep-navy">
                Welcome to the 
                <br>
                <span class="font-semibold">
                    Frontend quiz
                </span>

                <p class="mt-7 text-lg font-light italic">Pick a subject to get started</p>
            </div>

            <div class="choose-cat">
                <div>
                    <div class="border mb-5 border-white w-[28vw] pr-[25vw] px-4 py-5 rounded-md bg-white shadow-xl flex gap-7 " >
                        <img src="../../assets/images/icon-html.svg" alt="" class="border rounded-md bg-orange-100">
                        <p class="text-deep-navy text-xl font-semibold mt-1">HTML</p>
                    </div>

                    <div class="border  mb-5 border-white w-[28vw] pr-[25vw] px-4 py-5 rounded-md bg-white shadow-xl flex gap-7 " >
                        <img src="../../assets/images/icon-css.svg" alt="" class="border rounded-md bg-emerald-100">
                        <p class="text-deep-navy text-xl font-semibold mt-1">CSS</p>
                    </div>

                    <div class="border  mb-5 border-white w-[28vw] pr-[25vw] px-4 py-5 rounded-md bg-white shadow-xl flex gap-7 " >
                        <img src="../../assets/images/icon-js.svg" alt="" class="border rounded-md bg-blue-100">
                        <p class="text-deep-navy text-xl font-semibold mt-1">Javascript</p>
                    </div>

                    <div class="border border-white w-[28vw] pr-[25vw] px-4 py-5 rounded-md bg-white shadow-xl flex gap-7 " >
                        <img src="../../assets/images/icon-accessibility.svg" alt="" class="border rounded-md bg-violet-100">
                        <p class="text-deep-navy text-xl font-semibold mt-1">Accessibility</p>
                    </div>
                </div>
            </div>
         </div>
    
</body>
</html>