<div
  id="body"
  class="pb-[8%] w-full bg-cover"
  [ngClass]="{ darkmode: isDarkMode, lightmode: !isDarkMode }"
>
  <div class="mode-toggle p-12 ml-[65%] lg:ml-[80%] flex">
    <img src="../../assets/images/icon-sun-dark.svg" alt="" />
    <label class="relative inline-flex items-center mt-5 mb-5 cursor-pointer">
      <input
        type="checkbox"
        value=""
        class="sr-only peer"
        (click)="toggleTheme()"
      />
      <div
        class="w-11 h-[25px] bg-purple peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-purple"
      ></div>
    </label>
    <img src="../../assets/images/icon-moon-dark.svg" alt="dark" />
  </div>

  <div class="main-content px-6 lg:px-0 lg:ml-20 lg:flex -mt-3 lg:mt-6 gap-40">
    <div class="welcome-text text-[4.5rem] lg:ml-16 text-deep-navy">
      <p class="-mb-10 text-[4rem] font-[400]">Welcome to the</p>
      <span class="font-[500]"> Frontend quiz </span>

      <p class="pick lg:mt-7 text-lg font-light italic">
        Pick a subject to get started
      </p>
    </div>

    <div class="choose-cat mt-16 lg:mt-0">
      <div>
        <a [routerLink]="['/questions', 'HTML']">
          <div
            class="cat-item border-[3px] border-white hover:border-[3px] hover:border-purple mb-5 lg:w-[40vw] p-7 rounded-2xl bg-white shadow-xl flex gap-7"
          >
            <img
              src="../../assets/images/icon-html.svg"
              alt=""
              class="rounded-2xl p-1 bg-orange-100"
            />
            <p class="text-deep-navy text-xl font-semibold mt-1">HTML</p>
          </div>
        </a>

        <a [routerLink]="['/questions', 'CSS']">
          <div
            class="cat-item border-[3px] border-white hover:border-[3px] hover:border-purple mb-5 lg:w-[40vw] p-7 rounded-2xl bg-white shadow-xl flex gap-7"
          >
            <img
              src="../../assets/images/icon-css.svg"
              alt=""
              class="rounded-2xl p-1 bg-emerald-100"
            />
            <p class="text-deep-navy text-xl font-semibold mt-1">CSS</p>
          </div>
        </a>
        <a [routerLink]="['/questions', 'JavaScript']">
          <div
            class="cat-item border-[3px] border-white hover:border-[3px] hover:border-purple mb-5 lg:w-[40vw] p-7 rounded-2xl bg-white shadow-xl flex gap-7"
          >
            <img
              src="../../assets/images/icon-js.svg"
              alt=""
              class="rounded-2xl p-1 bg-blue-100"
            />
            <p class="text-deep-navy text-xl font-semibold mt-1">Javascript</p>
          </div>
        </a>

        <a [routerLink]="['/questions', 'Accessibility']">
          <div
            class="cat-item border-[3px] border-white hover:border-[3px] hover:border-purple mb-5 lg:w-[40vw] p-7 rounded-2xl bg-white shadow-xl flex gap-7"
          >
            <img
              src="../../assets/images/icon-accessibility.svg"
              alt=""
              class="rounded-2xl p-1 bg-violet-100"
            />
            <p class="text-deep-navy text-xl font-semibold mt-1">
              Accessibility
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
