<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
</head>
<body [ngClass]="{'darkmode':isDarkMode, 'lightmode':!isDarkMode}">
        <div class="mode-toggle p-12 ml-[80%] flex">
            <img src="../../assets/images/icon-sun-dark.svg" alt="">
           <label class="switch">
             <input type="checkbox" (click)="toggleTheme()">
             <span class="slider"></span>
         </label>
            <img src="../../assets/images/icon-moon-dark.svg" alt="dark">
         </div>

         <div class="main-content ml-20 flex mt-6 gap-40">
            <div class="welcome-text text-[4.5rem] ml-16 text-deep-navy">
                <p class="-mb-10">Welcome to the </p>
                <span class="font-semibold">
                    Frontend quiz
                </span>

                <p class="pick mt-7 text-lg font-light italic">Pick a subject to get started</p>
            </div>

            <div class="choose-cat">
                <div>
                    <a href="/questions">
                        <div
                        class="cat-item border-[3px] border-white hover:border-[3px] hover:border-purple  mb-5  w-[40vw] p-7 rounded-2xl bg-white shadow-xl flex gap-7 " >
                            <img src="../../assets/images/icon-html.svg" alt="" class=" rounded-2xl bg-orange-100">
                            <p class="text-deep-navy text-xl font-semibold mt-1">HTML</p>
                        </div>
                    </a>
                   

                    <div class="cat-item border-[3px] border-white hover:border-[3px] hover:border-purple mb-5  w-[40vw] p-7  rounded-2xl bg-white shadow-xl flex gap-7 " >
                        <img src="../../assets/images/icon-css.svg" alt="" class=" rounded-2xl bg-emerald-100">
                        <p class="text-deep-navy text-xl font-semibold mt-1">CSS</p>
                    </div>

                    <div class="cat-item border-[3px] border-white hover:border-[3px] hover:border-purple   mb-5  w-[40vw] p-7  rounded-2xl bg-white shadow-xl flex gap-7 " >
                        <img src="../../assets/images/icon-js.svg" alt="" class=" rounded-2xl bg-blue-100">
                        <p class="text-deep-navy text-xl font-semibold mt-1">Javascript</p>
                    </div>

                    <div class="cat-item border-[3px] border-white hover:border-[3px] hover:border-purple w-[40vw] p-7  rounded-2xl bg-white shadow-xl flex gap-7 " >
                        <img src="../../assets/images/icon-accessibility.svg" alt="" class=" rounded-2xl bg-violet-100">
                        <p class="text-deep-navy text-xl font-semibold mt-1">Accessibility</p>
                    </div>
                </div>
            </div>
         </div>
    
</body>
</html>
